storage: /verdaccio/storage
plugins: /verdaccio/plugins
auth:
  auth-no-register: {}
  htpasswd:
    file: /verdaccio/conf/htpasswd
uplinks:
  npmjs:
    url: https://registry.npmjs.org/
packages:
  '@*/*':
    access: $all
    publish: $authenticated
  '**':
    access: $all
    publish: $authenticated
listen:
  - 0.0.0.0:4873